.item1{
    grid-area: header;
    color:white;
    font-size: 30px;
    border: 5px solid black;
    background-color:rgb(145, 78, 190);
    align-content: center;

}
.item2{
    grid-area: sidebar;
}
.item3{
    grid-area: content-1;
}
.item4{
    grid-area: content-2;
}
.item5{
    grid-area: content-3;
}
.item6{
    grid-area:footer;
}
.griedContainer{
    height: 100vh;
    display: grid;
    background-color:rgb(85, 80, 80);
    gap:20px;
    grid-template-areas:'header  header header'
    'sidebar content-1 content-1 '
    'sidebar content-2 content-3'
    'footer footer footer ';
    padding: 30px;
    text-align: center;
    
}
.item1{
    color:white;
    font-size: 30px;
    border: 5px solid black;
    background-color:rgb(145, 78, 190);
    align-content: center;
    
}
.item2{
    color:white;
    font-size: 30px;
    border: 5px solid black;
    background-color:aqua;
    align-content: center;

}
.item3{
    color:white;
    font-size: 30px;
    border: 5px solid black;
    background-image: linear-gradient( to right bottom, rgb(145, 78, 190),
    rgb(145, 78, 190), blue,skyblue ,aqua);
    align-content: center;

    opacity: 10px;
}
.item4{
    color:white;
    font-size: 30px;
    border: 5px solid black;
    background-image: linear-gradient( to right bottom, rgb(145, 78, 190),
    rgb(145, 78, 190),blue,skyblue ,aqua);
    opacity: 20px;
    align-content: center;

}
.item5{
    color:white;
    font-size: 30px;
    border: 5px solid black;
    background-image: linear-gradient( to  bottom right, rgb(145, 78, 190),
    rgb(145, 78, 190), blue,skyblue ,skyblue ,aqua);
    opacity: 20px;
    align-content: center;

}
.item6{
    color:white;
    font-size: 30px;
    border: 5px solid black;
    background-color:rgb(145, 78, 190);
    align-content: center;

}







